<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

</head>

<body>
  <app-header></app-header><div class="main">
  <!-- <p>title : {{title}}</p>
  <p>Project Name : {{appName}}</p>
  <p>Name : {{name}}</p>
  <p>{{returnName()}}</p>
  <p>object => City is {{obj.city}} and Age is {{obj.age}} </p>
  <p>access array => {{array}} , array[1 ] : {{array[1]}} </p>
  <p>siteUrl : {{siteUrl}} </p>
  <p>component use here :
    <app-user-list></app-user-list>
  </p>
  <p>
    <app-login></app-login>
  </p>
  <p>
    <app-signup></app-signup>
  </p>
  <p>
    <app-function-call-onbtn></app-function-call-onbtn>
  </p> 
  <p>
    <app-allevents></app-allevents>
  </p>
  <p>
    <app-propertybinding></app-propertybinding>
  </p> 
  <p>
    <app-condition></app-condition>
  </p>
  
  <app-simpleform></app-simpleform>

  29-07-22  
  <app-stylebinding></app-stylebinding> 
  <app-bootstrappractices></app-bootstrappractices> 
  <app-materialui></app-materialui> 
  30-07-22
  1-08-2022

  <h1>pass data to child components</h1>
  <p>user works!</p>
  -->
  <div *ngFor="let e of obj">
    <app-user [object]="e"></app-user>
  </div>
 <app-pipe></app-pipe>
 <app-custom-di-style></app-custom-di-style>



</div><!--main -->
  <app-footer></app-footer>
  
</body>

</html>